<?php return array (                                                                                                                                                                    
  'debug' => false,                                                                                                                                                                      
  'offline' => false,                                                                                                                                                                   
  'database' => array (                                                                                                                                                                 
    // 'driver' => ,                                                                                                                                                                
    // 'host' => ,                                                                                                                                                          
    // 'port' => ,                                                                                                                                                                   
    // 'database' => ,                                                                                                                                                          
    // 'username' => ,                                                                                                                                                          
    // 'password' => ,                                                                                                                                                           
    // 'charset' => ,                                                                                                                                                             
    // 'collation' => ,                                                                                                                                                
    // 'prefix' => ,                                                                                                                                                                
    // 'strict' => ,                                                                                                                                                                  
  ),                                                                                                                                                                                    
  'url' => '', //forum url, without trailing slash, e.g. 'http://forum.example.com' or 'http://example.com/forum',                                                                                                                                            
  'paths' => array (                                                                                                                                                                    
    'api' => 'api',                                                                                                                                                                     
    'admin' => 'admin',                                                                                                                                                                 
  ),
  // 'cookie' => If using subdomain, set top domain only for cookie sharing (for login/logout sync).
  // array (
  //   'path' => '/',
  //   'domain' => '.example.com',
  // ),                                                                                      
);   